<% booking.status == "accepted"? card_color="green": card_color=""%>
<% start_date = booking.start_date %>
<% return_date = booking.return_date %>
<% total = booking.vehicle.price * (return_date - start_date).to_i %>
<div class="container">
  <div class="row">
    <div class="p-0 card-owner-booking <%=card_color%> mt-5" id="booking-<%= booking.id %>">
      <div class="owner-booking-card d-flex justify-content-between align-items-center">
        <!--div class="card-booking-picture" style="color:white; background-image: url(<%= cl_image_path(booking.vehicle.photo.key)%>)"></div><-->
        <%= link_to vehicle_path(booking.vehicle) do %>
          <%= cl_image_tag booking.vehicle.photo.key, width: 300, height: 200, crop: :fill %>
          <div class="container">
            <h2 style="text-align:left"><%= booking.vehicle.brand %> : <%= booking.vehicle.model %></h2>
            <p><i class="fas fa-calendar-alt"></i> <%= booking.start_date %> <i class="fas fa-angle-double-right"></i> <%= booking.return_date %></p>
            <p><i class="fas fa-map-marker-alt"></i> <%= booking.vehicle.location %></p>
            <% if booking.vehicle.user == current_user %>
              <p><i class="fas fa-user"></i> <%= booking.user.first_name %> <%= booking.user.last_name %></p>
            <% else %>
              <p><i class="fas fa-user-check"></i> <%= booking.vehicle.user.first_name %> <%= booking.vehicle.user.last_name %>
              </p>
            <% end %>
          <% end %>
        </div>
        <div class="mx-4">
          <% if booking.vehicle.user == current_user %>
            <%= render "owner/bookings/owner_status", booking: booking %>
          <% else %>
            <%= render "bookings/guest_status", booking: booking %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
