<div>
  <% if booking.status == "pending" %>
    <div class="container">
      <%= simple_form_for booking, remote: true do |f| %>
        <%= f.input :status, as: :hidden, input_html:{value:"accepted"} %>
        <%= f.submit "accept", class: 'btn btn-primary w-100' %>
      <% end %>
    </div>
    <div class="container">
      <%= simple_form_for booking, remote: true do |f| %>
        <%= f.input :status, as: :hidden, input_html:{value:"rejected"} %>
        <%= f.submit "decline", class: 'btn btn-danger w-100' %>
      <% end %>
    </div>
  <% elsif booking.status == "accepted" %>
    <h2 style="color:green">Accepted</h2>
  <% else %>
    <h2 style="color:red">Rejected</h2>
  <% end %>
</div>
