<h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>
<% current_user.bookings.each do |booking| %>
  <%= link_to vehicle_path(booking.vehicle) do %>
    <div class="item card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= booking.vehicle.photo.attached? ? cl_image_path(booking.vehicle.photo.key) : image_path('https://st3.depositphotos.com/23594922/31822/v/600/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg') %>)">
    </div>
  <% end %>
  <p>Vehicle: <%= booking.vehicle.brand %> <%= booking.vehicle.model %> (<%= booking.vehicle.category %>)</p>
  <p>Start date: <%= booking.start_date %></p>
  <p>Return date: <%= booking.return_date %></p>
  <p>-------------------------------------</p>
<% end %>
