<div class="footer-basic">
  <footer>
    <ul class="list-inline">
      <li class="list-inline-item"><%= link_to "Home", root_path %></li>
      <li class="list-inline-item"><%= link_to "Vehicles", vehicles_path %></li>
      <li class="list-inline-item"><%= link_to "Bookings", bookings_path %></li>
      <li class="list-inline-item"><%= link_to "Add vehicle", new_vehicle_path %></li>
      <li class="list-inline-item"><a href="https://github.com/tirsop/ninja-garage" target="_blank">Github Repository</a></li>
    </ul>
    <div class="madeby">
      <p>App made by</p>
    </div>
    <div class="social"><a class="footer-img" href="https://github.com/tirsop" target="_blank"><%= image_tag 'tirso.png' %></a><a class="footer-img" href="https://github.com/KenjiYANAGAWA" target="_blank"><%= image_tag 'kenji.jpg' %></a><a class="footer-img" href="https://github.com/yharwood" target="_blank"><%= image_tag 'yuki.jpg' %></a><a class="footer-img" href="https://github.com/luisrrv" target="_blank"><%= image_tag 'luis.jpg' %></a></div>
    <p class="copyright">Ninja Garage © 2022</p>
  </footer>
</div>
