<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <%# <li class="nav-item active nav-link">
            <%= link_to "+ Vehicle", new_vehicle_path %>
          <%# </li> %>
          <li class="nav-item active nav-link">
            <%= current_user.first_name %>
          </li>
          <li class="nav-item active">
            <%# <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%# <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <p class="dropdown-item"><%= current_user.email %></p>
              <%= link_to bookings_path do %>
                <p class="dropdown-item"><%= "Bookings: #{current_user.bookings.count}" %></p>
              <% end %>
              <%= link_to owner_bookings_path do %>
                <p class="dropdown-item"><%= "Vehicles: #{current_user.vehicles.count}" %></p>
              <% end %>
              <%= link_to "Add a vehicle", new_vehicle_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li>
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
