<div class="content">
  <div class="cards-home">
    <% @vehicles.shuffle.each do |vehicle| %>
      <%= link_to vehicle_path(vehicle) do  %>
        <div class="card-trip">
          <%= cl_image_tag(vehicle.photo.key) %>
          <div class="card-trip-infos">
            <div>
              <h2><%= vehicle.brand %></h2>
              <p><%= vehicle.model %></p>
            </div>
            <h3 class="card-trip-pricing"><%= number_to_currency(vehicle.price, {unit: '¥', precision: 0}) %><span class="pricing-day"> / day</span></h3>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
