<div class="container d-flex justify-content-center">
  <h1 class="slogan p-5">🎌 All of our vehicles 🎌</h1>
</div>
<div class="container">
  <div class="row justify-content-center pb-5">
    <div class="col-12 col-sm-8 col-lg-6">
      <%= form_tag vehicles_path, method: :get, class:'d-flex' do %>
        <%= select_tag :category,
            options_for_select(Vehicle::CATEGORIES, params[:category]),
            class: "form-control search1",
            prompt: "Vehicle Type"
        %>
        <%= text_field_tag :location,
            params[:location],
            class: "form-control search2",
            placeholder: "Location"
        %>
        <%= submit_tag "Search", class: "btn btn-danger booking-more-btn" %>
      <% end %>
    </div>
  </div>
  <div class="d-flex">
    <%= render "car_cards" %>
    <div class="mapita"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
