<div class="container d-flex justify-content-center">
  <h1 class="slogan p-5">🎌 All of our vehicles 🎌</h1>
</div>
<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div class="container">
  <div class="row justify-content-center pb-5">
    <div class="col-12 col-sm-8 col-lg-6">
      <%= form_tag vehicles_path, method: :get, class:'d-flex' do %>
        <%= select_tag :category,
            options_for_select(Vehicle::CATEGORIES, params[:category]),
            class: "form-control",
            prompt: "Vehicle Type"
        %>
        <%= text_field_tag :location,
            params[:location],
            class: "form-control",
            placeholder: "Location"
        %>
        <%= submit_tag "Search", class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
  <%= render "car_cards" %>
</div>
