<div class="m-3">
  <div class="item card-category" style="height: 600px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @vehicle.photo.attached? ? cl_image_path(@vehicle.photo.key) : image_path('https://st3.depositphotos.com/23594922/31822/v/600/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg') %>)">
  </div>
  <div class="container d-flex justify-content-center pt-1 mt-3">
    <h1 class="vehicle-title"><%= @vehicle.brand %> <%= @vehicle.model %></h1>
  </div>
  <div class="container d-flex justify-content-center">
    <p><%= @vehicle.category %></p>
  </div>
  <div class="content container p-3">
    <div class="row position-relative">
      <div class="col m-3">
        <div>
          <p><strong>Brand</strong>    : <%= @vehicle.brand %></p>
          <p><strong>Model</strong>    : <%= @vehicle.model %></p>
          <p><strong>Location</strong> : <%= @vehicle.location %></p>
          <p><strong>Category</strong> : <%= @vehicle.category %></p>
          <p><strong>Other features:</strong></p>
          <p><%= @vehicle.description %></p>
        </div>
        <div class="notification my-5">
          <%= image_tag "avatar.jpg", class: "avatar-large" %>
          <div class="notification-content">
            <p><small>Owner</small></p>
            <p><%= "#{@vehicle.user.first_name} #{@vehicle.user.last_name}" %></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5" >
        <div class="card m-3 p-3" id="book">
          <h2>Rent this vehicle</h2>
          <div class="vehicle-book-form">
            <p class="vehicle-price">¥<%= @vehicle.price %> / day</p>
            <%= simple_form_for [@vehicle, @booking] do |f| %>
              <%= f.input :start_date, html5: true %>
              <%= f.input :return_date, html5: true %>
              <%= f.submit 'Book', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container p-3 mt-4">
    <h3><%= "#{@vehicle.user.first_name}'s Vehicles" %></h3>
    <div class="cards">
      <% @vehicle.user.vehicles.each do |vehicle| %>
        <%= link_to vehicle_path(vehicle) do %>
          <div class="card-trip">
            <%= cl_image_tag(vehicle.photo.key) %>
            <div class="card-trip-infos">
              <div>
                <h2><%= vehicle.brand %></h2>
                <p><%= vehicle.model %></p>
              </div>
              <h2 class="card-trip-pricing">¥ <%= vehicle.price %></h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="container p-3 m-3">
    <h3>Reviews</h3>
    <% @reviews.each do |review| %>
      <div class="d-flex stars-show pb-2">
        <% review.rating.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5 - review.rating).times do %>
          <i class="far fa-star"></i>
        <% end %>
      </div>
      <p><%= review.content %></p>
    <% end %>
  </div>
  <div class="card p-5 m-3">
    <h3>How was your experience?</h3>
    <%=  simple_form_for [@vehicle, @review] do |f| %>
      <div class="star-rating mb-5">
        <% 5.times do |i| %>
          <input type="radio" name="review[rating]" value="<%= i + 1 %>" <%= "checked" if i == 2 %> />
        <% end %>
      </div>
      <%= f.input :content, label: false %>
      <%= f.submit 'Post', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
