<h1>Vehicles#show</h1>
<p>Find me in app/views/vehicles/show.html.erb</p>
<div class="container p-3">
  <h1>Rent this vehicle</h1>
  <div class="container card p-4">
    <%= simple_form_for [@vehicle, @booking] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :return_date %>
      <%# <%= f.input :image_url %>
      <%= f.submit 'Rent!', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
